html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-size: 18px;
    line-height: 25px;
    color: var(--white-color);
    @extend %myriad-300;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
        display: none;
    }
}

// .container {
//     max-width: 1770px;
//     margin: 0 auto;
//     padding: 0 15px;
// }

.title {
    @extend %sofia-500;
    letter-spacing: -0.05em;
    color: var(--accent-color);
}

h1 {
    font-size: 44px;
    line-height: 56px;
}

.link {
    font-size: 22px;
    text-decoration: none;
    color: var(--blue-color);
}

.button {
    padding: 20px;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    background-color: var(--blue-color);
    color: var(--accent-color);
    @extend %sofia-400;
    font-size: 28px;
    border: none;

    &--main {
        background-color: var(--accent-color);
        color: var(--blue-color);
    }

    &::before {
        background-color: var(--white-color);
    }

    &:disabled {
        filter: grayscale(1);
    }

    &:not(:disabled):hover {
        color: var(--dark-blue-color);

        &::before {
            width: 100%;
        }
    }
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: red;
    @extend %sofia-700;
}

@media (max-width: 768px) {
    .button {
        font-size: 22px;
        padding: 10px;
    }
}