@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";

* {
    appearance: none;
}

.greeting,
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color;
    min-height: 100vh;

    .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.greeting__inner,
.auth__inner {
    @extend %neumorphic-main-page;
    border-radius: 40px;
    overflow: auto;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.greeting-info,
.auth-block {
    width: 100%;
}

.greeting-info {
    background-color: $blue-color;
    @extend %neumorphic-dark-blue;
    z-index: 10;
    padding: 40px;

    &__img {
        height: 585px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__title {
        margin-top: 30px;
    }

    &__text {
        margin: 30px 0;
        text-align: justify;

    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media (max-width: 756px) {
            align-items: baseline;
            flex-direction: column;
        }
    }
}

.auth-block {
    padding: 80px 40px;
    background-color: $dark-blue-color;
    display: flex;
    flex-direction: column;
}

.auth-form {
    &__title {
        text-align: center;
    }

    &__inputs {
        margin-top: 40px;
    }

    &__input {
        color: $white-color;
        background-color: $blue-color;
    }

    &__input:focus {
        border: 1.5px solid $accent-color;
    }

    &__input:focus~label,
    &__input:valid~label {
        color: $accent-color;
    }

    &__label {
        @extend %myriad-300;
    }

    &__btns {
        margin-top: 40px;
    }

    &__inputs,
    &__btns {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__btn,
    &__input {
        @extend %neumorphic-dark-blue-elem;
    }
}

.custom-modal {
    padding: 30px;

    &__title.title {
        font-size: 30px;
        letter-spacing: normal;
        @extend %sofia-400;
    }
}

.modal-window {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    height: 80%;
    border-radius: 40px;
    border: 5px solid $black-color;
    background-color: $dark-blue-color;
    padding: 30px;
}

.modal-header {
    padding: 30px;
    border-bottom: 5px solid $black-color;
}

.modal-footer {
    gap: 20px;
}

h1.modal-title {
    color: $accent-color;
    font-size: 44px;
    @extend %sofia-400;
}

.modal-button {
    background-color: $accent-color;
    max-width: 150px;
    width: 100%;
    color: $black-color;
    border: 5px solid $black-color;
    padding: 15px 0;
    font-size: 22px;
    @extend %sofia-700;
}

.modal-close {
    font-size: 44px;
    color: $accent-color;
}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color;
    min-height: 100vh;

    &__inner {
        border-radius: 40px;
        overflow: auto;
        background-color: $dark-blue-color;
        height: 90vh;
        display: flex;
        flex-direction: column;
    }
}

.chat-header {
    padding: 20px 65px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        color: $white-color;
        font-size: 20px;
        line-height: 25px;
        @extend %sofia-400;
        margin: 0;
    }

    &__desc {
        margin: 0;
        line-height: 25px;
        @extend %myriad-300;
        color: $white-color;
        opacity: .5;
    }

    &__icon {
        cursor: pointer;
    }

    &__line {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $blue-color;
    }
}

.chat-main {
    padding: 50px 65px;
    padding-bottom: 0;
    flex-grow: 1;
    overflow-y: scroll;
    margin-right: 10px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        width: 50px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 30px;
    }

    .message {
        width: 100%;
        color: $white-color;
        margin-bottom: 30px;

        &__inner {
            display: flex;
            gap: 10px;

            .message__title {
                margin-top: 10px;
            }
        }

        &__img {
            height: 40px;
            width: 40px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        &__info {
            width: 100%;
        }

        &__title {
            @extend %sofia-400;
            font-size: 18px;
            line-height: normal;
            margin-bottom: 15px;
        }

        &__text {
            max-width: calc(100% / 2);
            width: fit-content;
            padding: 10px 15px;
            border: 1px solid $white-color;
            border-radius: 20px;
            border-top-left-radius: 0;
            @extend %myriad-300;

            p {
                margin: 0;
            }
        }
    }

    .message.message--me {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: $accent-color;
        text-align: right;

        .message__text {
            border: 1px solid $accent-color;
            border-top-right-radius: 0;
            border-top-left-radius: 20px;
        }
    }
}

.chat-footer {
    padding: 50px 65px;

    &__form {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__input {
        width: 100%;
    }

    &__btn {
        width: 70px;
        height: 70px;
        @extend %neumorphic-dark-blue-elem;
    }

    &__img {
        width: 30px;
        height: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1200px) {
    .greeting-info {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .chat {
        .container {
            padding: 0;
        }

        &__inner {
            height: 100vh;
            border-radius: 0;
        }
    }

    .chat-header {
        &__img {
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__line {
            display: none;
        }
    }

    .chat-main {
        .message {
            &__text {
                max-width: 100%;
            }
        }
    }

    .chat-footer {
        &__btn {
            width: 50px;
            height: 50px;
        }

        &__img {
            width: auto;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .chat-header,
    .chat-main,
    .chat-footer {
        padding: 10px;
    }
}