@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";

* {
    appearance: none;
}

.greeting,
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    min-height: 100vh;

    .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.greeting__inner,
.auth__inner {
    @extend %neumorphic-main-page;
    border-radius: 40px;
    overflow: auto;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.greeting-info,
.auth-block {
    width: 100%;
}

.greeting-info {
    background-color: var(--blue-color);
    @extend %neumorphic-dark-blue;
    z-index: 10;
    padding: 40px;

    &__img {
        height: 585px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__title {
        margin-top: 30px;
    }

    &__text {
        margin: 30px 0;
        text-align: justify;

    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media (max-width: 756px) {
            align-items: baseline;
            flex-direction: column;
        }
    }
}

.auth-block {
    padding: 80px 40px;
    background-color: var(--dark-blue-color);
    display: flex;
    flex-direction: column;
}

.auth-form {
    &__title {
        text-align: center;
    }

    &__inputs {
        margin-top: 40px;
    }

    &__input {
        color: var(--white-color);
        background-color: var(--blue-color);
    }

    &__input:focus {
        border: 1.5px solid var(--accent-color);
    }

    &__input:focus~label,
    &__input:valid~label {
        color: var(--accent-color);
    }

    &__label {
        @extend %myriad-300;
    }

    &__btns {
        margin-top: 40px;
    }

    &__inputs,
    &__btns {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__btn,
    &__input {
        @extend %neumorphic-dark-blue-elem;
    }
}

.custom-modal {
    padding: 30px;

    &__title.title {
        font-size: 30px;
        letter-spacing: normal;
        @extend %sofia-400;
    }
}

.modal-window {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    height: 80%;
    border-radius: 40px;
    border: 5px solid var(--black-color);
    background-color: var(--dark-blue-color);
    padding: 30px;
}

.modal-header {
    padding: 30px;
    border-bottom: 5px solid var(--black-color);
}

.modal-footer {
    gap: 20px;
}

h1.modal-title {
    color: var(--accent-color);
    font-size: 44px;
    @extend %sofia-400;
}

.modal-button {
    background-color: var(--accent-color);
    max-width: 150px;
    width: 100%;
    color: var(--black-color);
    border: 5px solid var(--black-color);
    padding: 15px 0;
    font-size: 22px;
    @extend %sofia-700;
}

.modal-close {
    font-size: 44px;
    color: var(--accent-color);
}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    min-height: 100vh;

    &__inner {
        border: 1px solid var(--black-color);
        border-radius: 40px;
        overflow: auto;
        background-color: var(--dark-blue-color);
        height: 90vh;
        display: flex;
        flex-direction: column;
    }
}

.chat-header {
    padding: 20px;
    min-height: 100px;

    &__inner {
        gap: 30px;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        color: var(--white-color);
        font-size: 20px;
        line-height: 25px;
        @extend %sofia-400;
        margin: 0;
    }

    &__desc {
        margin: 0;
        line-height: 25px;
        @extend %myriad-300;
        color: var(--accent-color);
    }

    &__img {
        img {
            border-radius: 50%;
        }
    }

    &__icon {
        cursor: pointer;
        transition: transform 0.5s cubic-bezier(0.77, 0, 0.18, 1);

        svg {
            path {
                stroke: var(--white-color);
            }
        }

        &--active {
            transform: rotate(90deg);
        }
    }

    &__line {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: var(--accent-color);
        z-index: 1;
    }
}

.chat-main {
    padding: 50px 65px;
    padding-bottom: 0;
    flex-grow: 1;
    overflow-y: scroll;
    margin-right: 10px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        width: 50px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 30px;
    }

    .message {
        width: 100%;
        color: var(--white-color);
        margin-bottom: 30px;

        &__inner {
            display: flex;
            gap: 10px;

            .message__title {
                margin-top: 10px;
            }
        }

        &__img {
            height: 40px;
            width: 40px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        &__info {
            width: 100%;
        }

        &__title {
            @extend %sofia-400;
            font-size: 18px;
            line-height: normal;
            margin-bottom: 15px;
        }

        &__text {
            max-width: calc(100% / 2);
            width: fit-content;
            padding: 10px 15px;
            border: 1px solid var(--white-color);
            border-radius: 20px;
            border-top-left-radius: 0;
            @extend %myriad-300;
            background-color: rgb(0, 0, 0, 0.1);

            p {
                margin: 0;
            }
        }

        &__date {
            color: var(--white-color);
            opacity: .5;
            position: absolute;
            left: 130px;
            top: 7px;
        }
    }

    .message.message--me {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: var(--accent-color);
        text-align: right;

        .message__text {
            text-align: left;
            border: 1px solid var(--accent-color);
            border-top-right-radius: 0;
            border-top-left-radius: 20px;
        }

        .message__date {
            left: 0;
            right: 40px;
            top: -2px;
        }
    }
}

.chat-footer {
    padding: 20px;

    &__form {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__input {
        box-shadow: none;
        width: 100%;
        overflow-y: hidden;
        resize: none;
    }

    &__btn {
        width: 70px;
        height: 70px;
        @extend %neumorphic-dark-blue-elem;
        box-shadow: none;
    }

    &__img {
        width: 30px;
        height: 30px;

        svg {
            path {
                stroke: var(--accent-color);
            }
        }
    }
}

.settings {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--dark-blue-color);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        width: 50px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 30px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 65px;
    }
}

.settings-item {
    border: 1px solid var(--white-color);
    border-radius: 10px;
    padding: 15px;
    transition: border-color 0.3s ease;

    cursor: pointer;

    &--active {
        border: 1px solid var(--accent-color);

        & .settings-item__title {
            color: var(--accent-color);
        }
    }

    &__title {
        font-size: 22px;
        line-height: normal;
        @extend %sofia-400;
        margin: 0;
        transition: color 0.3s ease;
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    &__content-inner {
        padding: 20px;
        gap: 10px;
        cursor: pointer;
    }

    &__content-row {
        gap: 20px;
        margin: 20px 0 20px 20px;

        &__title {
            font-size: 18px;
            line-height: normal;
            @extend %sofia-400;
            margin: 0;
        }

        &__colors {
            gap: 15px;
        }

        &__color {
            width: 35px;
            height: 35px;
            border: 1px solid var(--white-color);
            border-radius: 50%;

            cursor: pointer;

            &.color-yellow {
                background-color: #FBB829;
            }

            &.color-purple {
                background-color: #945AD2;
            }

            &.color-blue {
                background-color: #2E3A51;
            }

            &.color-dark-blue {
                background-color: #26303F;
            }

            &.color-gray {
                background-color: #363636;
            }

            &.color-dark-green {
                background-color: #111B21;
            }

            &.color-green {
                background-color: #29B200;
            }

            &.color-tg-blue {
                background-color: #34A7FC;
            }

            &.color-white {
                background-color: #fff;
            }

            &.color-black {
                background-color: #000;
            }

            &.duo-colors {
                position: relative;
                overflow: hidden;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    top: 0;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
            }

            &.duo-purple-white {
                &::before {
                    background-color: #fff;
                }

                &::after {
                    background-color: #945AD2;
                }
            }

            &.duo-purple-blue {
                &::before {
                    background-color: #2E3A51;
                }

                &::after {
                    background-color: #945AD2;
                }
            }

            &.duo-yellow-white {
                &::before {
                    background-color: #fff;
                }

                &::after {
                    background-color: #FBB829;
                }
            }

            &.duo-yellow-blue {
                &::before {
                    background-color: #2E3A51;
                }

                &::after {
                    background-color: #FBB829;
                }
            }

            &.duo-green-white {
                &::before {
                    background-color: #fff;
                }

                &::after {
                    background-color: #29B200;
                }
            }

            &.duo-green-black {
                &::before {
                    background-color: #111B21;
                }

                &::after {
                    background-color: #29B200;
                }
            }

            &.duo-tg-blue-black {
                &::before {
                    background-color: #363636;
                }

                &::after {
                    background-color: #34A7FC;
                }
            }
        }

        &__btn {
            max-width: fit-content;
            font-size: 18px;
            padding: 5px 20px;

            &::before {
                content: none;
            }

            &:not(:disabled):hover {
                color: var(--accent-color);
            }
        }
    }
}

@media (max-width: 1200px) {
    .greeting-info {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .chat {
        .container {
            padding: 0;
        }

        &__inner {
            height: 100vh;
            border-radius: 0;
        }
    }

    .chat-header {
        &__img {
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__line {
            display: none;
        }
    }

    .chat-main {
        .message {
            &__text {
                max-width: 100%;
            }
        }
    }

    .chat-footer {
        &__btn {
            width: 50px;
            height: 50px;
        }

        &__img {
            width: auto;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .chat-header,
    .chat-main,
    .chat-footer,
    .settings__inner {
        padding: 10px;
    }
}